<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/logo.png" width="50" height="50" alt="Finder Films">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="genreDropButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Genres
          </a>
        <div class="dropdown-menu" aria-labelledby="genreDropButton">
          <a class="dropdown-item" *ngFor="let genre of genres" (click)="openGenre(genre.id);">{{genre.name}}</a>
        </div>
      </li>
      <li class="nav-item">
      </li>
      </ul>
    </div>
  </nav>